streamlit>=1.40.1,<1.41.0
librosa>=0.10.2.post1,<0.11.0
numpy>=1.26
openai==0.28.0
pydub>=0.25.1,<0.26.0
matplotlib>=3.7.5,<3.8.0
scikit-learn>=1.3.2,<1.4.0
transformers>=4.46.3,<4.47.0
torch>=2.2.0
IPython>=8.13.2
essentia-tensorflow>=2.1b6.dev1110
tensorflow>=2.8.0,<2.16  # Essentia compatibility range
numpy>=1.21.0